.sidebar{
    margin:0 auto; /* this will center the page */
    max-width: 1060px; /*  use your width here */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--pale-orange);

}
.logo{
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}
.nav-items{
    width: 450px;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list li{
    padding-top: 20px;
    padding-bottom: 30px;
    cursor: pointer;
}

.nav-list li:hover{
    border-bottom: 2px solid var(--orange);
    color: var(--black);
    font-weight: 600;
}

.cart-profile-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}
.btn{
    background: none;
}
.avatar-img{
    width: 45px;
}
.hamburger-icon{
    display: none;
}


@media screen and (max-width: 750px) {
    .nav-items-mobile{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        background: var(--pale-orange);
        transition: .4s ease-out;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        margin-left: 22px;
        margin-top: 70px;
        font-weight: 800;
    }
    .nav-list li{
        padding-bottom: 10px;
    }
    .hamburger-icon{
        display: block;
        margin-top: -3px;
        cursor: pointer;
        color: var(--black);
        margin-left: 5px;
        z-index: 1000;
    }
    .nav-items-mobile-show{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        background: var(--pale-orange);
        transition: .4s ease-in;
        z-index: 999;
    }
    .avatar-img{
        width: 40px;
    }
}


@media screen and (max-width: 330px) {
    .logo h1{
        font-size: 25px;
    }
    .avatar-img{
        width: 30px;
    }
    .icons{
        width: 20px;
    }
}

@media screen and (min-width: 750px) {
    .logo{
        margin-left: 10px;
    }
    .cart-profile-div{
        margin-right: 10px;
    }
}


/* cart container  */

.cart-container{
    position: absolute;
    right: 8%;
    top: 80px;
    width: 280px;
    height: 180px;
    background: var(--white);
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cart-heading{
    border-bottom: 2px solid var(--pale-orange);
    padding-bottom: 10px;
}

.checkout-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.cart-empty-heading{
    color: var(--dark-grayish-blue);
}

.checkout-product-div{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.checkout-price-div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 8px;
}
.checkout-produt-title-div{
    display: flex;
    flex-direction: column;
}
.checkout-produt-title-div span {
    font-size: 14px;
    color: var(--dark-grayish-blue);
    font-weight: 400;
  }

  .checkout-produt-title-div span:first-child {
    margin-bottom: 5px;
  }

.checkout-delete-btn{
    color: var(--dark-grayish-blue);
    background: none;
    
}
.checkout-btn{
    width: 100%;
    height: 40px;
    background: var(--orange);
    color: var(--white);
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

.icon-cart-btn::before {
    content: attr(data-count); 
    display: block; 
    position: relative;
    top: 12px; 
    right: -15px; 
    background-color: var(--orange); 
    color: white;  
    border-radius: 50%; 
    width: 20px;
    height: 20px; 
    text-align: center;
    line-height: 20px; 
}
.icon-cart-btn::after {
    content: '';
    display: block;
    margin-top: 15px;
} 


@media screen and (max-width: 330px) {
    .cart-container{
        right: 3%;
        padding: 10px;
    }
}


@media screen and (max-width: 310px) {
    .cart-container{
        right: 2%;
        width: 250px;
        height: 220px;
    }
    .total-price-span{
        margin-left: -3px;
    }
}